<!DOCTYPE html>
<html>
  <head>
    <title>Revise Minder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
        <h1>Email verificado com sucesso!</h1>
        <p>pode fechar essa página.</p>
    </div>
  </body>
</html>