@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBF0F5;
}

.container h1 {
  margin-bottom: 10px;
  color: #171823;
}

.container p {
  font-size: 16pt;
  font-weight: 500;
  color: rgba(23, 24, 35, 0.7);
}